{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v1/toolkit.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Header-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'css/Highlight-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Testimonials.css' %}">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-primary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">RGB</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'backend:profile' %}">Profile</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'backend:shops' %}">Shop</a></li>
                  {% if request.user.is_authenticated %}
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'backend:logout' %}">Log Out</a></li>
                  {% endif %}
              </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white bg-info masthead">
        <div class="container text-white-50">
            <h1>The Blue Store</h1>
            <hr>
        </div>
    </header>
    <section class="text-success portfolio" id="portfolio">
        <section class="testimonials-clean">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Your Balance: {{ request.user.blue }}</h2>
                    {% if message %}
                    <div class="alert alert-danger" role="alert">
                      {{ message }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col" style="background: #b8d1e3;color: var(--bs-blue);">
                  <div data-reflow-type="shopping-cart" style="color: var(--bs-blue);">
                    <div class="reflow-shopping-cart">
                        <div class="ref-cart" style="display: block;">
                            <div class="ref-heading">Live Items</div>
                            <div class="ref-th">
                                <div class="ref-product-col">Product</div>
                                <div class="ref-price-col">Stock</div>
                                <div class="ref-quantity-col">Price</div>
                                <div class="ref-total-col"></div>
                            </div>
                            <div class="ref-cart-table">
                              {% for item in items %}
                                <div class="ref-product" data-id="1053938381" data-quantity="2">
                                    <div class="ref-product-col">
                                        <div class="ref-product-wrapper"><img class="ref-product-photo" src="{{ item.image }}" alt="Shania Bradtke" />
                                            <div class="ref-product-data">
                                                <div class="ref-product-info">
                                                    <div class="ref-product-name">{{ item.name }}</div>
                                                    <div class="ref-product-category">{{ item.description }}</div>
                                                </div>
                                                <div class="ref-product-price">{{ item.stock }}</div>
                                            </div>
                                        </div>
                                        <div class="ref-product-controls">
                                            <div class="ref-product-total">
                                                <div class="ref-product-total-sum">{{ item.value }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ref-price-col">
                                        <div class="ref-product-price">{{ item.stock }}</div>
                                    </div>
                                    <div class="ref-quantity-col">
                                        <div class="ref-product-quantity">
                                          <div class="ref-product-total-sum">{{ item.value }}</div>
                                        </div>
                                    </div>
                                    <div class="ref-total-col">
                                        <div class="ref-product-total">
                                            <a class="btn btn-primary bg-danger buttons" href="{% url 'backend:buy' item.id 'BLUE' %}">BUY</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center text-white bg-danger copyright py-4" style="color: var(--bs-blue);background: #1e6add;">
        <div class="container"><small>Made With Love using Django and Unity</small></div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/freelancer.js' %}"></script>
    <script src="https://cdn.reflowhq.com/v1/toolkit.min.js"></script>
</body>

</html>
